* {
  font-family: "noto serif", serif
}

header, footer {
  background-color: black;
  color: white;
  margin-top: 5px 0px;
  padding: 5px;
}

nav {
  background-color: darkred;
  margin: 5px;
  padding: 10px;
}

nav a {
  background-color: black;
  padding: 5px;
}

a {
  color: powderblue;
}

a:hover {
  background-color: gray;
}
